.header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 11;
  &.opened{
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 40px;
  }

  &-mob{
    width: 100%;
    height: 37px;

    .container{
      height: 100%;
      position: relative;
      box-shadow: 0px 0px 36px #E0E0E0;

      .opened &{
        box-shadow: none;
      }

      &::after{
        display: block;
        content: '';
        width: 100%;
        border-bottom: 1px solid $def-blue;
      }
    }

    .row{
      align-items: center;
      height: 100%;
    }

    &__burger{

      .inner{

        .burger-exit{
          display: none;
          .opened &{
            display: block;
          }

        }

        .burger-open{
          .opened &{
            display: none;
          }
        }
      }
    }

    &__logo{
      margin-left: auto;
      margin-right: auto;

      .inner{
        height: 28px;
        display: block;
      }
    }

    &__personal{
      margin-left: auto;
      display: flex;
      justify-content: flex-end;

      .inner{
        display: block;
      }
    }

    &__phone{

      a{
        display: flex;
        align-items: center;

        svg{
          width: 20px;
          margin-right: 10px;
        }

        span{
          font-size: 14px;
        }
      }
    }
  }

  &-top{
    padding-top: 15px;
    display: none;

    .container{
      margin-left: 0;
    }

    .opened &{
      display: block;
    }

    &__logo{
      display: none;
      .inner{
        img{
          pointer-events: none;
        }
      }
    }

    &__menu{
      padding-bottom: 15px;

      nav{

        ul{
          list-style: none;
          padding-left: 0;

          li{
            margin-bottom: 6px;
            &:last-child{
              margin-bottom: 0;
            }

            a{
              padding: 2px 0;
              font-size: 14px;
              font-weight: 600;

              &:hover{
                color: #00AFEF;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    &__phone{
      padding-top: 10px;
      padding-bottom: 15px;
      display: flex;
      align-items: center;

      &-left{
        margin-right: 15px;
      }

      &-right{

        a{
          font-size: 14px;
          font-weight: 600;
        }

        &__button{
          font-size: 12px;
          text-transform: uppercase;
          color: #00AFEF;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    &__personal{
      padding-top: 10px;

      a{
        display: flex;
        align-items: center;

        svg{
          margin-right: 15px;
        }

        span{
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

  }

  &-side{
    padding: 15px 15px 10px;
    background-color: #fff;
    display: none;

    .opened &{
      display: block;
    }

    &__burger{
      display: none;
    }

    &__search{
      width: 100%;
      padding-bottom: 10px;

      label{
        padding-right: 25px;
        padding-bottom: 5px;
        position: relative;
        background-color: #fff;
        display: block;
        width: 100%;
        border-bottom: 2px solid $def-blue;
        &::after{
          display: block;
          content: '';
          width: 14px;
          height: 14px;
          background-image: url('./files/imgs/icons/search.svg');
          background-size: cover;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);

        }

        input{
          height: 20px;
          padding-left: 2px;
        }
      }
    }

    &__menu{
      padding-top: 15px;

      nav{

        ul{
          list-style: none;
          padding-left: 0;

          li{
            margin-bottom: 6px;
            position: relative;
            &:last-child{
              margin-bottom: 0;
            }

            a{
              padding: 2px 0;

              .header-side__menu-img{
                display: none;
              }

              .header-side__menu-title{
                font-size: 14px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}

@media screen
and (min-width: 1200px){

  .header{

    &-mob{
      display: none;
    }

    &-top{
      display: block;
      height: 65px;
      padding-top: 0;

      .container{
        height: 100%;
        position: relative;
        box-shadow: 0px 0px 36px #E0E0E0;
        max-width: 1110px;
        padding: 0;
        margin-left: auto;

        &:after{
          display: block;
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 100%;
          transform: translateX(-50%);
          border-bottom: 1px solid $def-blue;
        }
      }

      .row{
        margin: 0;
        height: 100%;
        align-items: center;
      }

      &__logo{
        display: block;
        order: 1;
      }

      &__menu{
        order: 2;
        padding-bottom: 0;

        nav{

          ul{
            display: flex;
            justify-content: space-between;

            li{
              margin-bottom: 0;

              a{
                font-size: 16px;
              }
            }
          }
        }
      }

      &__phone{
        order: 3;
        padding: 0 15px;
        justify-content: center;

        &-rigth{

          a{
            font-size: 16px;
          }

          &__button{
            font-size: 16px;
          }
        }
      }

      &__personal{
        order: 4;
        padding: 0 15px;

        a{

          span{
            font-size: 16px;
          }
        }
      }
    }

    &-side{
      display: block;
      position: absolute;
      top: 75px;
      box-shadow: 0px 0px 36px #E0E0E0;
      padding: 20px 0;
      left: calc(50% - 555px);
      z-index: 12;
      height: calc(100vh - 75px - 10px);

      &.opened{
        width: 380px;
      }

      &__burger{
        width: 50px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        padding-left: 15px;

        .inner{
          height: 20px;
          cursor: pointer;

          .burger-open{
            display: block;
          }

          .burger-exit{
            display: none;
          }
        }

        .opened &{

          .inner{

            .burger-open{
              display: none;
            }

            .burger-exit{
              margin-left: -2px;
              display: block;
            }
          }
        }
      }

      &__search{
        margin-bottom: 25px;
        padding-left: 15px;
        padding-bottom: 0;

        label{
          cursor: pointer;
          height: 19px;
          border-bottom: none;
          padding-left: 35px;
          padding-right: 0;
          position: relative;

          &::after{
            right: auto;
            left: 8px;
            width: 19px;
            height: 19px;
          }

          input{
            border-bottom: 2px solid $def-blue;
            padding-left: 2px;
            width: 275px;
            display: none;

            &:focus{
              background-color: #fff;
              position: absolute;
              left: 35px;
              top: 50%;
              transform: translateY(-50%);
              height: 200%;
              width: 450px;
              max-width: none;
              box-shadow: 0px 0px 24px #E0E0E0;
            }
          }
        }

        .opened &{

          label{
            padding-left: 65px;

            input{
              display: block;
              &:focus{
                background-color: #fff;
                position: absolute;
                left: 65px;
                top: 50%;
                transform: translateY(-50%);
                height: 200%;
                width: 450px;
                max-width: none;
                box-shadow: 0px 0px 24px #E0E0E0;
              }
            }
          }

        }
      }

      &__menu{
        padding: 0;

        nav{

          ul{

            li{
              margin-bottom: 20px;
              &:last-child{
                margin-bottom: 0;
              }

              a{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border: 1px solid transparent;

                &:hover{
                  background-color: #EDF9FE;
                }

                &:active{
                  border: 1px solid #00AFEF;
                }

                .header-side__menu-img{
                  width: 65px;
                  padding: 8px 15px;
                  display: flex;
                  justify-content: center;
                  margin-right: 0;

                  .opened &{
                    margin-right: 17px;
                  }
                }

                .header-side__menu-title{
                  display: none;
                  font-size: 16px;

                  .opened &{
                    display: block;
                  }
                }
              }
            }
          }
        }
      }


    }

  }
}

@media screen
and (min-width: 1200px) and (max-width: 1599.98px){

  .header{

    &-side{

      &:not(.opened){

        nav{

          ul{

            li{

              a:hover{

                .header-side__menu-title{
                  position: absolute;
                  display: block;
                  left: 100%;
                  top: 0;
                  height: 100%;
                  width: 250px;
                  background-color: #EDF9FE;
                  padding: 15px 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen
and (min-width: 1600px){

  .header{

    &-top{

      .container{
        max-width: 1550px;
      }

      &__menu{
        max-width: 600px;
      }

      &__phone{
        margin-left: auto;
      }
    }

  }

  body:not(.page-base) .header-side{
    padding-top: 35px;
    left: calc(50% - 775px);
    width: 380px;

    &__burger{
      display: none;
    }

    &__search{

      label{
        padding-left: 65px;

        input{
          display: block;
          &:focus{
            background-color: #fff;
            position: absolute;
            left: 65px;
            top: 50%;
            transform: translateY(-50%);
            height: 200%;
            width: 450px;
            max-width: none;
            box-shadow: 0px 0px 24px #E0E0E0;
          }
        }
      }
    }

    &__menu{

      nav{

        ul{

          li{

            a{

              .header-side__menu-img{
                margin-right: 17px;
              }

              .header-side__menu-title{
                display: block;
              }
            }
          }
        }
      }
    }
  }

  body.page-base .header-side{
    left: calc(50% - 775px);

    &:not(.opened){

      nav{

        ul{

          li{

            a:hover{

              .header-side__menu-title{
                position: absolute;
                display: block;
                left: 100%;
                top: 0;
                height: 100%;
                width: 250px;
                background-color: #EDF9FE;
                padding: 15px 20px;
              }
            }
          }
        }
      }
    }
  }
}


