@media screen
and (min-width: 768px){

  .navigation{

    &-links{

      &__item{
        &:last-child{
          .inner{
            box-shadow: none;

            &:hover{
              background-color: #EDF9FE;
              box-shadow: 0px 0px 24px #E0E0E0;
            }

            &:focus{
              background-color: #fff;
            }
          }
        }
      }
    }
  }

  .news-actual{

    &__filters{

      &-list{

        .inner{
          justify-content: space-between;

          label{
            width: 30%;
            min-width: 30%;
          }
        }
      }
    }
  }

  .sub-menu{

    nav{

      ul{

        li{
          border-right: 1px solid $def-blue;

          &:last-child{
            border-right: 1px solid transparent;
          }

          a{
            height: 100%;
            border-bottom: none;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          &:hover{
            background-color: #EDF9FE;
            box-shadow: 0px 0px 20px #E0E0E0;
          }
          &:focus{
            background-color: #fff;
          }
        }
      }
    }
  }

  .news{

    &__filter{

      &-list{

        .inner{
          justify-content: space-between;

          label{
            width: 30%;
            min-width: 30%;
          }
        }
      }
    }
  }
}

@media screen
and (min-width: 1200px){

  .banner{

    &-content{

      &__img{
        right: 40px;
        bottom: 20px;
      }
    }
  }

  .navigation{
    margin-bottom: 35px;

    &-links{

      &__item{
        margin-bottom: 0;
        &:nth-child(2){
          .inner{
            position: relative;
            &::before{
              height: calc(100% - 20px);
              width: 1px;
              left: -5px;
              top: 10px;
            }
            &::after{
              height: calc(100% - 20px);
              width: 1px;
              right: -5px;
              left: auto;
              top: 10px;
            }
          }
        }

        .inner{

          span{
            font-size: 16px;
          }
        }
      }
    }

    &-slider{

      .col-12{
        padding: 0;
      }
    }
  }

  .news-actual{

    .left{
      flex-grow: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

    .right{
      flex-grow: 1;
      position: relative;
    }

    .title-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .def-title{
      padding-top: 5px;
    }

    &__filters{

      &-list{

        .inner{
          justify-content: space-between;

          label{
            width: 45%;
            min-width: 45%;
          }
        }
      }
    }

    &__list{
      flex-grow: 1;
      position: relative;
      width: 100%;
    }

    .new-container{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
      top: 0;
      overflow-Y: scroll;
      padding-right: 10px;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      scrollbar-color: #888 #f1f1f1;
      scrollbar-width: 5px;
      scrollbar-width: thin;
    }

    &__button{
      position: absolute;
      left: 50%;
      bottom: -50px;
      transform: translateY(-50%);
    }
  }

  .doc-compilation{

    &__docs{

      .item{

        &-link{
          font-size: 16px;
        }

        &-address{
          font-size: 14px;
        }
      }
    }
  }

  .page-news{

    .main{

      .container{
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 90px);
      }
    }
  }

  .news-page_content{
    flex-grow: 1;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: 5px;
    scrollbar-width: thin;
    overflow-x: hidden;

    .row{
      position: absolute;
      left: 15px;
      right: 0;
      bottom: 0;
      top: 15px;
    }
  }

  .news{

    &__top{

      &-title{
        padding-left: 10px;
        font-size: 24px;
      }
    }

    &__filter{

      &-list{

        .inner{
          justify-content: space-between;

          label{
            width: 24%;
            min-width: 19%;
          }
        }
      }

      &.closed{

        .news__filter-title{
          padding-bottom: 30px;
        }

        .news__filter-list{
          display: none;
        }
      }
    }

    &__list{
      position: relative;
      width: 100%;
    }

  }

  // BASE PAGE ON

  .base-content{

    &__main-title{
      font-size: 24px;
      margin-bottom: 30px;
    }

    &__menu{

      &-title{
        font-size: 24px;
        margin-bottom: 30px;
      }

      nav{

        ul{
          list-style: none;
          padding-left: 0;
        }
      }
    }

    &__article{
      padding-top: 50px;
      display: block;
      padding-right: 15px;

      &-title{
        font-size: 18px;
      }

      p{
        font-size: 16px;
        margin-bottom: 25px;
      }

      h2{
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
  }

  // BASE PAGE OFF
}

@media screen
and (min-width: 1600px){

  .banner{

    &-content{

      &__text{

        h1{
          font-size: 20px;
        }

      }


    }
  }

  .navigation{

    &-links{

      .inner{
        padding: 15px 40px;


        span{
          font-size: 18px;
        }
      }
    }
  }

  .doc-compilation{

    &__docs{

      .item{

        &-link{
          font-size: 18px;
        }

        &-address{
          font-size: 14px;
        }
      }
    }

    &__comps{

      .item{

        a{
          font-size: 18px;

          span:first-child{
            font-size: inherit;
          }
        }
      }
    }
  }

}