@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

$def-color: #343044;
$sub-color: #0F0446;
$def-font: 'Montserrat', sans-serif;

*{
  font-family: $def-font;
  box-sizing: border-box;
  color: $def-color;
  line-height: 1.3;
}

body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

html, body{
  font-size: 16px;
  color: $def-color;
  min-height: 100vh!important;
  height: 100%!important;
  margin: 0;
  width: 100vw;
}

main{
  flex: 1 0 auto;
  position: relative;
  z-index: 1;
}

footer, header{
  flex: 0 0 auto;
}

*::before, *::after{
  max-width: 100%;
}

ul{
  margin: 0;
}

li{
  margin: 0;
  padding: 0;
}

button{
  display: block;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline-style: none;
}

body a:hover{
  //color: $def-color;
}

img, svg, picture{
  display: block;
  max-height: 100%;
  max-width: 100%;
}

div, h1, h2, h3, h4, h5, h6, p, span, a{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  //color: $def-color;
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

input{
  max-width: 100%;
  border: none;
  padding: 0;
}

input[type="submit"]{
  padding: 1px 5px;
}

input{
  outline-style: none!important;
}

main{
  padding-top: 70px;
}

@media screen
and (min-width:768px){

  main{
    padding-top: 130px;
  }

}

@media screen
and (min-width: 1200px){

  main{
    padding-top: 180px;
  }
}

@media screen
and (min-width: 1600px){

  .container{
    max-width: 1540px!important;
  }

}


